<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <div class="main-header-top-bar">
        <a href="/views/home.html"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="" /></a>

        <form class="conteiner-search-nav" action="">
          <input
            class="search-nav"
            type="text"
            placeholder="Buscar productos, marcas y más..."
          />
          <i class="fas fa-search"></i>
        </form>

        <div class="banner-cuotas">
          <h4>
            <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin
            tarjeta de credito
          </h4>
        </div>
      </div>

      <div class="contenedor-navbar">
        <nav class="navbar">
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>

        <nav class="login-bar">
          <ul>
            <li>
              <a href="/views/register.html">Crea tu cuenta </a><i class="far fa-id-card"></i>
            </li>
            <li><a href="/views/login.html">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
            <li>
              <a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i>
            </li>
          </ul>
        </nav>
      </div>

      <div class="burger-nav">
        <div class="pan-arriba"></div>
        <div class="relleno"></div>
        <div class="pan-abajo"></div>
      </div>
    </header>

    <main>
      <section class="sign-in">
        <h2>Inicio de sesión</h2>
        <form action="/login" class="formulario">
            <div class="control-formulario">
                <input type="text" name="user" class="control" placeholder="Nombre de Usuario" required>
            </div>
            <div class="control-formulario">
                <input type="text" name="password" class="control" placeholder="Contraseña" required>
            </div>
            <div class="control-formulario">
                <input type="submit" class="boton-enviar login">
            </div>
        </form>
      </section>
    </main>

    <footer>
      <div class="contenedor-footer">
        <section class="seccion-footer1">
          <i class="fas fa-credit-card"></i>
          <h3>Pagá con tarjeta o efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>

        <section class="seccion-footer2">
          <i class="fas fa-gift"></i>
          <h3>Envío gratis desde $2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>

        <section class="seccion-footer3">
          <i class="fas fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>

      <div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
