* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h2 { font-size: 2.4rem; margin: 0; color: #666; font-weight: 600;}
h3 { font-size: 1.8rem; margin: 0; color: #666; font-weight: 400;}
h4 { font-size: 1.6rem; margin: 0; color: #666; font-weight: 400}
p, a, i { font-size: 1.2rem; margin: 0; color: #666; font-weight: 400}

body {
    font-family: 'Montserrat', sans-serif;
}

/*START----------HEADER----------*/

header {
    background-color: #EAC926;
    padding-bottom: 10px;
}

/*START---------MAIN TOP BAR---------*/

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: center;
}
/*LOGO*/
.logo {
    width: 150px;
}
/*BANNER CUOTAS*/
.banner-cuotas {
    margin: 2rem auto;
    
}

/*END--------MAIN TOP BAR---------*/

/*START-------MAIN BUTTON BAR--------*/

/*NAV BAR*/
.contenedor-navbar {
    display: none;
}

/*BURGER NAV*/
.burger-nav {
    background-color: #03264C;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pan-arriba, .relleno, .pan-abajo {
    height: 3px;
    background-color: #ffffff;
    width: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*END-------MAIN BUTTON BAR---------*/
/*END-------HEADER-------*/

/*START-------MAIN---------*/
main {
    background-color: #ebebeb;
    padding: 2rem 0;
}

/*START-------ARTICULOS---------*/

.contenedor-articulos {
    width: 90vw;
    margin: 1rem auto;
    background-color: #fff;
}

.ofertas {
    margin-top: 2rem;
}

.ultimaVisita img, 
.ofertas img {
    width: 30rem;
    max-width: 90vw;
    margin: auto;
    display: block;
}

.contenedor-descripcion {
    border-top: solid #ebebeb 1px;
    padding: 1.5rem;
}

.contenedor-descripcion .descripcion {
    margin-top: 2.5rem;
}

.contenedor-descripcion .descuento {
    color: #39b54a;
}

.fa-truck {
    font-size: 1.8rem;
    color: #39b54a;
    border: solid #39b54a 1px;
    border-radius: 50%;
    padding: 0.5rem 2rem 2rem 0.5rem;
}

/*END--------ARTICULOS--------*/
/*END--------MAIN---------*/

/*START---------FOOTER--------*/

.contenedor-footer {
    text-align: center;
    padding: 2rem;
}

.contenedor-footer i {
    font-size: 4rem;
    color:  #03264C;
    margin-bottom: 1.5rem;
}

.seccion-footer1,
.seccion-footer2,
.seccion-footer3 {
    margin: 5rem;
}

/*END---------FOOTER----------*/

@media (min-width: 600px){
    .contenedor-navbar {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }
    .contenedor-navbar a {
        text-decoration: none;
    }
    .contenedor-navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .contenedor-navbar li{
        margin: 0 5px;
    }

    .burger-nav {
        display: none;
    }

    .banner-cuotas {
        margin: 0;
        max-width: 25rem;
        text-align: right;
    }
}

@media (min-width: 1024px){
    .contenedor-articulos{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}